* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	--white: #fffffe;
	--dark: #111116;
}

html {
	min-height: 100vh;
	min-width: 100vw;
	font-family: "Open Sans", sans-serif;
	color: var(--white);
	font-size: 16px;
}

body {
	width: 100vw;

	background-color: var(--dark);
	z-index: 1;
	overflow-x: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
body::-webkit-scrollbar {
	display: none;
}

.main {
	position: absolute;
	height: 100vh;
	width: 100vw;
}

.p5Canvas {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	z-index: -1;
}

.header {
	position: fixed;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 2rem;
	height: 60px;
	z-index: 99;
}
.flex-container {
	width: 90%;
	max-width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.nav-bar {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.nav-fs {
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}
.logo {
	height: 100%;
	opacity: 0;
	user-select: none;
}

.logo h3 {
	text-decoration: none;
	color: var(--white);
	font-family: "Comforter", cursive;
	font-size: 3rem;
	line-height: 60px;
	z-index: 100;
}

.nav-link a {
	color: var(--white);
	text-decoration: none;
	font-weight: 400;
	transition: all 0.3s ease-in-out;
}
.nav-link a:hover {
	font-weight: 500;
	font-size: 1.1rem;
	letter-spacing: 0.1rem;
}
#prj {
	cursor: pointer;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100vw;
}

main section {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 40rem;
}

.s1 {
	height: 100vh;
	min-height: 30rem;
	user-select: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fffffe99;
}
.s1 p {
	font-size: 3rem;
	word-wrap: nowrap;
	font-weight: 800;
}
.s1 a {
	text-decoration: none;
}
.s1 > .name {
	color: var(--white);
	font-size: 5rem;
	text-transform: capitalize !important;
	font-family: "Comforter", cursive;
}

.developer {
	color: black;
	box-sizing: content-box;
	text-shadow: 0 0 6px #ffffff;
	-moz-text-shadow: 0 0 2px #ffffff;
	-webkit-text-shadow: 0 0 2px #ffffff;
	text-transform: uppercase;
	text-overflow: hidden;
	white-space: nowrap;
}
.flex {
	display: flex;
}
.d-none {
	display: none;
}
.uzh {
	color: var(--white);
	cursor: pointer;
}
.projects {
	position: absolute;
	height: 100vh;
	width: 90vw;
	max-width: 1200px;
	min-height: calc(45rem);
	opacity: 0;
	top: 0;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}
.wrapper {
	text-align: right;
	display: flex;

	align-items: flex-end;
	flex-direction: column;
}
.projects a {
	text-decoration: none;
}
.project {
	position: relative;
	width: max-content;
	height: auto;
	text-align: right;
}

.project h1 {
	text-decoration: none;
	font-size: 3rem;
	font-weight: 800;
	text-transform: uppercase;
	word-wrap: none;
	color: #fffffea1;
	cursor: pointer;
}
.project h1:hover {
	color: var(--white);
}

.link-bar {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 100;
	height: 3rem;
	gap: 3rem;
	margin: 0 0 2rem 0;
	transition: all 0.3s ease-in-out;
}

.link-bar a {
	opacity: 0.7;
	transition: all 0.3s ease-in-out;
}
.link-bar a:hover {
	opacity: 1;
	transform: scale(1.1);
	text-shadow: 0 0 50px 10px white;
}
.github {
	background-image: url("./resources/SVG/github-logo.svg");
	background-size: cover;

	width: 1.7rem;
	height: 1.6rem;
}
.mail {
	background-image: url("./resources/SVG/mail.svg");
	background-repeat: no-repeat;
	background-size: cover;

	width: 2.5rem;
	height: 1.6rem;
}
.cv {
	background-image: url("./resources/SVG/cv.svg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 1.3rem;
	height: 1.6rem;
}

.scroll-please {
	position: absolute;
	user-select: none;
	left: 50%;
	bottom: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mouse {
	width: 25px;
	height: 40px;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 20px;
	display: flex;
}

.mouse span {
	width: 7px;
	height: 7px;
	background-color: white;
	border-radius: 50%;
	display: block;
	margin: auto;
	animation: move-wheel 1s linear infinite;
}

.arrow span {
	display: block;
	width: 10px;
	height: 10px;
	border: 2px solid transparent;
	border-right-color: white;
	border-bottom-color: white;
	transform: rotate(45deg);
}

@keyframes move-wheel {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(100%);
	}
}

@media (max-width: 60rem) {
	html {
		font-size: 12px;
	}
}
.slider {
	position: fixed;
	top: 2rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 9rem;
	height: 60px;
	transition: all 0.3s ease-in-out;
	animation: touch-me 3s linear infinite;
}
.slider:hover {
	animation-play-state: paused;
}
.slider input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	width: 5rem;
}
.slider input[type="range"]::-webkit-slider-runnable-track {
	background: #fffffe;
	height: 0.2rem;
	border-radius: 0.1rem;
}

.slider input[type="range"]::-moz-range-track {
	background: #fffffe;
	height: 0.2rem;
	border-radius: 0.1rem;
}
.slider input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	transform: translateY(-40%);
	background-color: rgba(10, 189, 198);
	height: 0.6rem;
	width: 0.6rem;
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
}
.slider input[type="range"]::-webkit-slider-thumb:hover {
	transform: translateY(-40%) scale(1.25);
}

@keyframes touch-me {
	0% {
		opacity: 0.2;
	}
	45% {
		opacity: 0.6;
	}
	50% {
		opacity: 0.9;
	}
	55% {
		opacity: 0.6;
	}
	100% {
		opacity: 0.2;
	}
}

@media (max-width: 35rem) {
	html {
		font-size: 10px;
	}
	.nav-fs {
		display: none;
	}
	.s1 {
		padding-bottom: 3rem;
	}

	.mouse {
		width: 15px;
		height: 25px;
		border-radius: 15px;
	}

	.mouse span {
		width: 5px;
		height: 5px;
	}
}
@media (max-width: 400px) {
	html {
		font-size: 8px;
	}
}
